{% extends 'index.html' %}
{% load static %}

{% block title %}
<title>Moonarty | Add Product Page</title>
{% endblock %}

{% block body %}
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Add Product page</h1>
                <nav class="d-flex align-items-center">
                    <a href="/">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="/profile/">Profile<span class="lnr lnr-arrow-right"></span></a>
                    <a href="/addproduct/">Add Product</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<div class="container mt-5 mb-5">
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="col-lg-12 col-sm-12 col-12">
            <label class="form-label">Product Name</label>
            <input type="text" class="form-control" name="name" placeholder="Enter Product Name">
        </div>
        <div class="row mt-2">
            <div class="col-lg-3 col-sm-12 col-12">
                <label class="form-label">Maincategory</label>
                <select name="maincategory" class="form-control w-100">
                    {% for i in Maincategory %}
                    <option value="{{i}}">{{i}}</option>
                    {% endfor%}
                </select>
            </div>
            <div class="col-lg-3 col-sm-12 col-12">
                <label class="form-label">Subcategory</label>
                <select name="subcategory" class="form-control w-100">
                    {% for i in Subcategory %}
                    <option value="{{i}}">{{i}}</option>
                    {% endfor%}
                </select>
            </div>
            <div class="col-lg-3 col-sm-12 col-12">
                <label class="form-label">Brands</label>
                <select name="brand" class="form-control w-100">
                    {% for i in Brand %}
                    <option value="{{i}}">{{i}}</option>
                    {% endfor%}
                </select>
            </div>
            <div class="col-lg-3 col-sm-12 col-12">
                <label class="form-label">Stock</label>
                <select name="stock" class="form-control w-100">
                    <option value="In Stock">In Stock</option>
                    <option value="Out of Stock">Out of Stock</option>
                </select>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-lg-6 col-sm-12 col-12">
                <label class="form-label">Baseprice</label>
                <input type="text" class="form-control" name="baseprice" placeholder="Enter Product's Baseprice">
            </div>
            <div class="col-lg-6 col-sm-12 col-12">
                <label class="form-label"> Discount</label>
                <input type="number" class="form-control" name="discount" value="0" min="0" max="100"
                    placeholder="Enter Discount">
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-lg-12 col-sm-12 col-12">
                <label class="form-label">Size</label>
                <div class="row">
                    <div class="col-lg-2 col-md-3 col-sm-4 col-4">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="4 x 8" name="4 x 8">
                            <label class="form-check-label" for="4 x 8">
                                4 x 8
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-4 col-4">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="5 x 7" name="5 x 7">
                            <label class="form-check-label" for="5 x 7">
                                5 x 7
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-4 col-4">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="8 x 10" name="8 x 10">
                            <label class="form-check-label" for="8 x 10">
                                8 x 10
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-4 col-4">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="9 x 12" name="9 x 12">
                            <label class="form-check-label" for="9 x 12">
                                9 x 12
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-4 col-4">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="11 x 14" name="11 x 14">
                            <label class="form-check-label" for="11 x 14">
                                11 x 14
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-4 col-4">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="12 x 12" name="12 x 12">
                            <label class="form-check-label" for="12 x 12">
                                12 x 12
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-4 col-4">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="12 x 16" name="12 x 16">
                            <label class="form-check-label" for="12 x 16">
                                12 x 16
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-4 col-4">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="16 x 20" name="16 x 20">
                            <label class="form-check-label" for="16 x 20">
                                16 x 20
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-4 col-4">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="18 x 24" name="18 x 24">
                            <label class="form-check-label" for="18 x 24">
                                18 x 24
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-4 col-4">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="24 x 24" name="24 x 24">
                            <label class="form-check-label" for="24 x 24">
                                24 x 24
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-4 col-4">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="24 x 30" name="24 x 30">
                            <label class="form-check-label" for="24 x 30">
                                24 x 30
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-4 col-4">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="30 x 30" name="30 x 30">
                            <label class="form-check-label" for="30 x 30">
                                30 x 30
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-sm-12 col-12 mt-2">
            <label class="form-label">Description</label>
            <Textarea name="description" rows="5" class="form-control">This is Sample Product</Textarea>
        </div>
        <div class="row mt-2">
            <div class="col-lg-6 col-sm-12 col-12">
                <label class="form-label">Product Image 1</label>
                <input type="file" class="form-control" name="pic1">
            </div>
            <div class="col-lg-6 col-sm-12 col-12">
                <label class="form-label">Product Image 2</label>
                <input type="file" class="form-control" name="pic2">
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-lg-6 col-sm-12 col-12">
                <label class="form-label">Product Image 3</label>
                <input type="file" class="form-control" name="pic3">
            </div>
            <div class="col-lg-6 col-sm-12 col-12">
                <button type="submit" class="btn back pt-2 text-light w-100" style="margin-top: 30px;">Submit</button>
            </div>

        </div>
    </form>
</div>
{% endblock %}