{% extends 'index.html' %}
{% load static %}

{% block title %}
<title>Moonarty | Our Blog Page</title>
{% endblock %}
{% block home %}
<li class="nav-item"><a class="nav-link" href="/">Home</a></li>
{% endblock %}
{% block blog %}
<li class="nav-item"><a class="nav-link active" href="/blog/">Blog</a></li>
{% endblock %}
{% block body %}
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Blog Page</h1>
                <nav class="d-flex align-items-center">
                    <a href="/">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="">Blog</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->

<!--================Blog Categorie Area =================-->
<section class="blog_categorie_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="categories_post">
                    <img src="{% static 'img/blog/cat-post/cat-post-1.jpg' %}" alt="post">
                    <div class="categories_details">
                        <div class="categories_text">
                            <a href="/blogdetails/4/">
                                <h5>Social Life</h5>
                            </a>
                            <div class="border_line"></div>
                            <p>Enjoy your social life together</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="categories_post">
                    <img src="{% static 'img/blog/cat-post/cat-post-2.jpg' %}" alt="post">
                    <div class="categories_details">
                        <div class="categories_text">
                            <a href="/blogdetails/5/">
                                <h5>Politics</h5>
                            </a>
                            <div class="border_line"></div>
                            <p>Be a part of politics</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="categories_post">
                    <img src="{% static 'img/blog/cat-post/cat-post-3.jpg' %}" alt="post">
                    <div class="categories_details">
                        <div class="categories_text">
                            <a href="/blogdetails/">
                                <h5>Food</h5>
                            </a>
                            <div class="border_line"></div>
                            <p>Let the food be finished</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================Blog Categorie Area =================-->

<!--================Blog Area =================-->
<section class="blog_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="blog_left_sidebar">
                    {% for i in Blog %}
                    <article class="row blog_item">
                        <div class="col-md-3">
                            <div class="blog_info text-right">
                                <div class="post_tag">
                                    <a href="#">{{i.subtitle}}</a>
                                </div>
                                <ul class="blog_meta list">
                                    <li><a href="#">Moonarty<i class="lnr lnr-user"></i></a></li>
                                    <li><a href="#">{{i.date}}<i class="lnr lnr-calendar-full"></i></a></li>
                                    <li><a href="#">{{i.id}} Comments<i class="lnr lnr-bubble"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="blog_post">
                                {% if i.pic %}
                                <a href="/blogdetails/{{i.id}}"><img class="img-fluid"
                                        style="width: 100%; height: 300px; border: 10px solid white;"
                                        src="{{i.pic.url}}" alt=""></a>
                                {% else %}
                                <img class="img-fluid" style="width: 100%; height: 450px; border: 10px solid white;"
                                    src="{% static 'img/banner/banner-img.jpg' %}" alt="">
                                {% endif %}
                                <div class="blog_details">
                                    <a href="">
                                        <h2>{{i.title}}</h2>
                                    </a>
                                    <p>{{i.description}}</p>
                                    <a href="/blogdetails/{{i.id}}" class="white_bg_btn">View More</a>
                                </div>
                            </div>
                        </div>
                    </article>
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog_right_sidebar">
                    <aside class="single_sidebar_widget search_widget">
                        <h3 class="widget_title">Our Blogs</h3>
                        <div class="br"></div>
                    </aside>
                    <aside class="single_sidebar_widget author_widget">
                        <img class="author_img rounded-circle" src="{% static 'img/blog/author.png' %}" alt="">
                        <h4>Shashank Sagar</h4>
                        <p>Senior blog writer</p>
                        <div class="social_icon">
                            <a href="https://www.facebook.com/profile.php?id=100066828451615&mibextid=ZbWKwL"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-github"></i></a>
                            <a href="#"><i class="fa fa-behance"></i></a>
                        </div>
                        <p>Boot camps have its supporters andit sdetractors. Some people do not understand why you
                            should have to spend money on boot camp when you can get. Boot camps have itssuppor
                            ters andits detractors.</p>
                        <div class="br"></div>
                    </aside>
                    <aside class="single_sidebar_widget popular_post_widget">
                        <h3 class="widget_title">Popular Posts</h3>
                        {% for i in Blogs %}
                        <div class="media post_item">
                            {% if i.pic %}
                            <a href="/blogdetails/{{i.id}}"><img class="img-fluid" style="width: 50px; height: 50px;"
                                    src="{{i.pic.url}}" alt="post"></a>
                            {% else %}
                            <img class="img-fluid" style="width: 50px; height: 50px;"
                                src="{% static 'img/banner/banner-img.jpg' %}" alt="post">
                            {% endif %}
                            <div class="media-body">
                                <a href="/blogdetails/{{i.id}}">
                                    <h6>{{i.title}}</h6>
                                </a>
                                <p>{{i.date}}</p>
                            </div>
                        </div>
                        {% endfor %}
                        <div class="br"></div>
                    </aside>
                    <aside class="single_sidebar_widget post_category_widget">
                        <h4 class="widget_title">Post Catgories</h4>
                        <ul class="list cat-list">
                            <li>
                                <a href="#" class="d-flex justify-content-between">
                                    <p>Technology</p>
                                    <p>37</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex justify-content-between">
                                    <p>Lifestyle</p>
                                    <p>24</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex justify-content-between">
                                    <p>Fashion</p>
                                    <p>59</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex justify-content-between">
                                    <p>Art</p>
                                    <p>29</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex justify-content-between">
                                    <p>Food</p>
                                    <p>15</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex justify-content-between">
                                    <p>Architecture</p>
                                    <p>09</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex justify-content-between">
                                    <p>Adventure</p>
                                    <p>44</p>
                                </a>
                            </li>
                        </ul>
                        <div class="br"></div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}