{% extends 'index.html' %}
{% load static %}
{% load cart %}

{% block title %}
<title>Moonarty | Cart Page</title>
{% endblock %}

{% block body %}
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Cart</h1>
                <nav class="d-flex align-items-center">
                    <a href="/">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="">Cart</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<section class="cart_area">
    <div class="container">
        <div class="cart_inner">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Size</th>
                            <th scope="col">Price</th>
                            <th style="padding-left: 80px;" scope="col">Quantity</th>
                            <th scope="col">Total</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in Cart %}
                        <tr>
                            <td>
                                <div class="media">
                                    <div class="d-flex">
                                        {% if request|cartimage:i %}
                                        <img src="{{request|cartimage:i}}" height="90px" width="90px">
                                        {% else %}
                                        <img src="{% static 'images/noimagep.png' %}" height="90px" width="90px">
                                        {% endif %}
                                    </div>
                                    <div class="media-body">
                                        <p>{{request|cartname:i}}</p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <h5>{{request|cartsize:i}}</h5>
                            </td>
                            <td>
                                <h5>&#8377;{{request|cartprice:i}}</h5>
                            </td>
                            <td>
                                <div class="product_count">
                                    <a href="/updatecart/{{i}}/-1/" class="btn text-primary"><i
                                            class="material-icons">remove</i></a>
                                    <input type="text" value="{{request|cartqty:i}}" title="Quantity:"
                                        class="input-text qty">
                                    <a href="/updatecart/{{i}}/1/" class="btn text-primary"><i
                                            class="material-icons">add</i></a>
                                </div>
                            </td>
                            <td>
                                <h5>&#8377;{{request|carttotal:i}}</h5>
                            </td>
                            <td><button class="btn text-primary" onclick="fun('{{i}}')"><i
                                        class="material-icons">delete_forever</i></button></td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>
                                <h5>Subtotal</h5>
                            </td>
                            <td>
                                <h5>&#8377;{{Total}}</h5>
                            </td>
                        </tr>
                        <tr class="shipping_area">
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>
                                <h5>Shipping</h5>
                            </td>
                            <td>
                                <h5>Flat Rate: &#8377; {{Shipping}}</h5>
                            </td>
                        </tr>
                        <tr class="shipping_area">
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>
                                <h5>Final</h5>
                            </td>
                            <td>
                                <h5>&#8377; {{Final}}</h5>
                            </td>
                        </tr>
                        <tr class="out_button_area">
                            <td>
                                <a href="/shop/All/All/All/" class="gray_btn" href="#">Continue Shopping</a>
                            </td>
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>
                                <div class="checkout_btn_inner d-flex" style="padding-left: 130px;">
                                    <a href="/checkout/" class="primary-btn" href="#">Proceed to checkout</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
</section>
<script>
    function fun(num) {
        if (confirm("Are you sure! You Want to Delete that Item"))
            window.open(`/deletecart/${num}/`)
    }
</script>
{% endblock %}