{% extends 'index.html' %}
{% load static %}
{% load product %}

{% block title %}
<title>Moonarty | Order Confirmation Page</title>
{% endblock %}

{% block body %}
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Confirmation</h1>
                <nav class="d-flex align-items-center">
                    <a href="/">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="">Confirmation</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->

<!--================Order Details Area =================-->
<section class="order_details section_gap">
    <div class="container">
        <h3 class="title_confirmation">Thank you. Your order has been received.</h3>
        {% for i in orders %}
        <div class="row order_d_inner mt-5">
            <div class="col-lg-4">
                <div class="details_item">
                    <h4>Order Info</h4>
                    <ul class="list">
                        <li><a href="#"><span>Order number</span> : {{i.id}}</a></li>
                        <li><a href="#"><span>Date</span> : {{i.date}}</a></li>
                        <li><a href="#"><span>Total</span> : &#8377;{{i.final}}</a></li>
                        <li><a href="#"><span>Payment method</span> : {{i.mode}}</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="details_item">
                    <h4>Billing Address</h4>
                    <ul class="list">
                        <li><a href="#"><span>House </span> : {{User.addressline1}}</a></li>
                        <li><a href="#"><span>Street</span> : {{User.addressline2}}</a></li>
                        <li><a href="#"><span>City</span> : {{User.addressline3}}</a></li>
                        <li><a href="#"><span>Postcode </span> : {{User.pin}}</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="details_item">
                    <h4>Shipping Address</h4>
                    <ul class="list">
                        <li><a href="#"><span>House </span> : {{User.addressline1}}</a></li>
                        <li><a href="#"><span>Street</span> : {{User.addressline2}}</a></li>
                        <li><a href="#"><span>City</span> : {{User.addressline3}}</a></li>
                        <li><a href="#"><span>Postcode </span> : {{User.pin}}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="order_details_table">
            <h2>Order Details</h2>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Size</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in request|orderitem:i.id %}
                        <tr>
                            <td>
                                <p> {{i.name}} </p>
                            </td>
                            <td>
                                <h5>{{i.size}}</h5>
                            </td>
                            <td>
                                <h5>x {{i.qty}}</h5>
                            </td>
                            <td>
                                <p>&#8377;{{i.price}}</p>
                            </td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td>
                                <h4>Subtotal</h4>
                            </td>
                            <td>
                                <h5></h5>
                            </td>
                            <td>
                                <h5></h5>
                            </td>
                            <td>
                                <p>&#8377;{{i.total}}</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h4>Shipping</h4>
                            </td>
                            <td>
                                <h5></h5>
                            </td>
                            <td>
                                <h5></h5>
                            </td>
                            <td>
                                <p>Flat rate: &#8377;{{i.shipping}}</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h4>Total</h4>
                            </td>
                            <td>
                                <h5></h5>
                            </td>
                            <td>
                                <h5></h5>
                            </td>
                            <td>
                                <p>&#8377;{{i.final}}</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}