{% extends 'index.html' %}
{% load static %}
{% load product %}

{% block title %}
<title>Moonarty | Order History Page</title>
{% endblock %}
{% block home %}
<li class="nav-item"><a class="nav-link" href="/">Home</a></li>
{% endblock %}
{% block history %}
<li class="nav-item"><a class="nav-link active" href="/history/">Product History</a></li>
{% endblock %}
{% block body %}
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Order History</h1>
                <nav class="d-flex align-items-center">
                    <a href="/">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="">Order History</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->

<!--================Order Details Area =================-->
<section class="order_details section_gap">
    <div class="container">
        {% for i in orders %}
        <div class="order_details_table">
            <h2>Order History</h2>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Size</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in request|orderitem:i.id %}
                        <tr>
                            <td>
                                <p> {{i.name}} </p>
                            </td>
                            <td>
                                <p> {{i.size}} </p>
                            </td>
                            <td>
                                <h5>x {{i.qty}}</h5>
                            </td>
                            <td>
                                <p>&#8377;{{i.price}}</p>
                            </td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td>
                                <p> Order Id </p>
                            </td>
                            <td>
                                <h5></h5>
                            </td>
                            <td>
                                <h5></h5>
                            </td>
                            <td>
                                <p>{{i.id}}</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p> Order Status </p>
                            </td>
                            <td>
                                <h5></h5>
                            </td>
                            <td>
                                <h5></h5>
                            </td>
                            <td>
                                <p>{{i.request|orderstatus:i.orderstatus}}</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p> Payment Mode </p>
                            </td>
                            <td>
                                <h5></h5>
                            </td>
                            <td>
                                <h5></h5>
                            </td>
                            <td>
                                <p>{{i.mode}}</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Purchase Date </p>
                            </td>
                            <td>
                                <h5></h5>
                            </td>
                            <td>
                                <h5></h5>
                            </td>
                            <td>
                                <p>{{i.date}}</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h4>Subtotal</h4>
                            </td>
                            <td>
                                <h5></h5>
                            </td>
                            <td>
                                <h5></h5>
                            </td>
                            <td>
                                <p>&#8377;{{i.total}}</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h4>Shipping</h4>
                            </td>
                            <td>
                                <h5></h5>
                            </td>
                            <td>
                                <h5></h5>
                            </td>
                            <td>
                                <p>Flat rate: &#8377;{{i.shipping}}</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h4>Total</h4>
                            </td>
                            <td>
                                <h5></h5>
                            </td>
                            <td>
                                <h5></h5>
                            </td>
                            <td>
                                <p>&#8377;{{i.final}}</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h4>Payment</h4>
                            </td>
                            <td>
                                <h5></h5>
                            </td>
                            <td>
                                <h5></h5>
                            </td>
                            <td>
                                <p>{{i.request|paymentstatus:i.paymentstatus}}
                                    {% if request|paymentstatuscon:i.paymentstatus %}
                        <a href="/paynow/{{i.id}}/" class="mx-3 btn back text-light">Pay Now</a>
                    {% endif %}
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}