{% extends 'index.html' %}
{% load static %}

{% block title %}
<title>Moonarty | SignUp Page</title>
{% endblock %}

{% block body %}
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Register</h1>
                <nav class="d-flex align-items-center">
                    <a href="/">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="">Register</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->

<!--================Login Box Area =================-->
<section class="login_box_area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="login_box_img" style="height: 595px;">
                    <img class="img-fluid" src="{% static 'img/login.jpg' %}" alt="">
                    <div class="hover">
                        <h4>Already on our website?</h4>
                        <p>There are advances being made in science and technology everyday, and a good example of this
                            is the</p>
                        <a class="primary-btn" href="/login/">Login</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                {% for i in messages %}
                <div class="alert alert-danger" role="alert">
                    {{i}}
                </div>
                {% endfor %}
                <div class="login_form_inner" style="padding-top: 10px;">
                    <h3>Create Account</h3>
                    <form class="row login_form" action="" method="post" id="contactForm" novalidate="novalidate">
                        {% csrf_token %}
                        <div class="col-md-12 form-group">
                            <input type="text" class="form-control" name="name" placeholder="Enter your Name"
                                onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your Name'">
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="text" class="form-control" id="name" name="username" placeholder="Enter your Username"
                                onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your Username'">
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="email" class="form-control" name="email" placeholder="Enter your Email"
                                onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your Email'">
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="text" class="form-control" name="phone" placeholder="Enter your Phone Number"
                                onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your Phone Number'">
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="password" class="form-control" id="name" name="password" placeholder="Enter your Password"
                                onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your Password'">
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="password" class="form-control" id="name" name="cpassword" placeholder="Confirm Password"
                                onfocus="this.placeholder = ''" onblur="this.placeholder = 'Confirm Password'">
                        </div>
                        <div class="col-md-12 form-group mt-3">
                            <button type="submit" class="primary-btn">SignUp</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}