{% extends 'index.html' %}
{% load static %}

{% block title %}
<title>Moonarty | Profile Update Page</title>
{% endblock %}

{% block body %}
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Update Profile</h1>
                <nav class="d-flex align-items-center">
                    <a href="/">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="/profile/">Profile<span class="lnr lnr-arrow-right"></span></a>
                    <a href="">Update Profile</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->

<!--================Login Box Area =================-->
<section class="login_box_area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                {% if User.pic %}
            <img src="{{User.pic.url}}" style="height: 810px; width: 650px;">
            {% else %}
            <img src="{% static 'images/noimage.jpg' %}" class="w-100">
            {% endif %}
            </div>
            <div class="col-lg-6">
                {% for i in messages %}
                <div class="alert alert-danger" role="alert">
                    {{i}}
                </div>
                {% endfor %}
                <div class="login_form_inner" style="padding-top: 10px;">
                    <h3>Update Profile</h3>
                    <form class="row login_form" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="col-md-12 form-group">
                            <input type="text" class="form-control" name="name" placeholder="Enter your Name" value="{{User.name}}">

                        </div>
                        <div class="col-md-12 form-group">
                            <input type="email" class="form-control" name="email" placeholder="Enter your email" value="{{User.email}}">
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="text" class="form-control" name="phone" placeholder="Enter your phone number" value="{{User.phone}}">
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="text" class="form-control" name="addressline1" placeholder="Enter your House Number" value="{{User.addressline1}}">
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="text" class="form-control" name="addressline2" placeholder="Enter your Street Number" value="{{User.addressline2}}">
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="text" class="form-control" name="addressline3" placeholder="Enter your Locality"value="{{User.addressline3}}">
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="text" class="form-control" name="pin" placeholder="Enter your Pin Code" value="{{User.pin}}">
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="text" class="form-control" name="city" placeholder="Enter your City" value="{{User.city}}">
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="text" class="form-control" name="state" placeholder="Enter your State"value="{{User.state}}">
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="file" class="form-control" id="pic" name="pic" placeholder=""
                                onfocus="this.placeholder = ''" onblur="this.placeholder = ''">
                        </div>
                        <div class="col-md-12 form-group">
                            <button type="submit" class="primary-btn">Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}